In [5]:
import pandas as pd
import numpy as np
import networkx as nx
import csv
import time

In [6]:
centrality_df = pd.read_csv('data/information_centrality_sorted.csv')
centrality_df.head()

      ID  Information_Centrality
0  31903                0.000917
1  31745                0.000917
2  33129                0.000916
3  35368                0.000916
4  31107                0.000916

In [8]:
cols_list = [3, 4, 7, 8]
biogrid_df = pd.read_csv('../data/BIOGRID-ORGANISM-Saccharomyces_cerevisiae_S288c-4.4.210.tab3.txt', 
usecols=cols_list, sep="	")
biogrid_df.head()

,BioGRID ID Interactor A,BioGRID ID Interactor B,Official Symbol Interactor A,Official Symbol Interactor B
0,31676,34272,CDC73,CTR9
1,34272,31676,CTR9,CDC73
2,31676,34518,CDC73,LEO1
3,34518,31676,LEO1,CDC73
4,31676,32973,CDC73,PAF1

In [9]:
ids_dict = {}
keys = biogrid_df['BioGRID ID Interactor A'].tolist()
values = biogrid_df['Official Symbol Interactor A'].tolist()
for i in range(len(keys)):
    ids_dict[keys[i]] = values[i]

len(ids_dict)

6029

In [10]:
#biogrid_dict = set()
#with open(r'C:\Users\Burcu\Desktop\EPPuGNN\data\BIOGRID-ORGANISM-Saccharomyces_cerevisiae_S288c-4.4.210.tab3.txt') as f:
    

essential_dict = set()
with open('../data/deg_sc.dat') as f:
    for line in f:
        line = line.strip().split('\t')
        essential_dict.add(line[0])
        
len(essential_dict)

1110

In [210]:
biogrid_id_essential_dict = {}
biogrid_essentials = set()
for item in ids_dict.keys():
    if ids_dict[item] in essential_dict:
        biogrid_id_essential_dict[item] = 1
        biogrid_essentials.add(item)

len(biogrid_essentials)

1102

In [211]:
ess_df = pd.DataFrame(columns=['ID', 'Information_Centrality', 'Essentiality'])
selected_columns = centrality_df[["ID","Information_Centrality"]]
ess_df = selected_columns.copy()
ess_df['Essentiality'] = 0

In [212]:
essentials = []
i= 0
for item in centrality_df['ID'].tolist():
    if item in biogrid_essentials:
        essentials.append(item)
        ess_df.at[i, 'Essentiality'] = 1
    i += 1

In [213]:
count = (ess_df['Essentiality'] == 1).sum()
print('Count of Essential Proteins : ', count)

Count of Essential Proteins :  1102

In [214]:
ess_df.head()

      ID  Information_Centrality  Essentiality
0  31903                0.000917             0
1  31745                0.000917             0
2  33129                0.000916             1
3  35368                0.000916             0
4  31107                0.000916             1

In [215]:
ess_df.to_csv('data/information_centrality_ess.csv', index=False)